<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purchase.user_id %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @purchase.plan_id %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @purchase.discount_id %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
